body           {
  background-color: #e7d9cd;
} 
@font-face    {
  font-family: customFonts;
  src: url(Sakura.ttf);
}
h1       {
  color: brown;
  margin: 50px;
  font-family: customFonts;
  font-size: 500%;
}
.aligned .p            {
  color: brown;
  font-family: "Gill Sans", sans-serif;
  font-size: 15px;
  padding: 10px;
}
.aligned .image        {
   margin-left: 50px;
 }
.aligned {
            display: flex;
            align-items: center;
        }
