body           {
  background-color: #e7d9cd;
}
  
main          }
  display: flex;
  align-items:center;
}

@font-face    {
  font-family: customFonts;
  src: url(Sakura.ttf);
}
h1       {
  color: brown;
  margin: 50px;
  font-family: customFonts;
  font-size: 500%;
}
p            {
  color: brown;
  font-family: "Gill Sans", sans-serif;
  font-size: 15px;
  float: right;
}
 image        {
   margin-left: 50px;
 }
